*{
    padding: 0;
    margin: 0;
}
.count_box{
    width: 600px;
    height: 400px;
    background-color: lightcyan;
}
#tab_box{
    width: 600px;
    height: 400px;
    background-color: lightcyan;
    position: relative;
}
#tab_box ul{
    width: 100%;
    height: 100%;
    list-style: none;
}
#tab_box ul li{
    width: 100%;
    height: 100%;
    float: left;
    display: none;
}
#tab_box ol{
    position: absolute;
    left: 0;
    top:0;
}
#tab_box ol li{
    float: left;
    list-style: none;
}



